<%= slug.pascal %> = require <%- h.quote(slug.snake) %>

describe <%- h.quote(slug.kebab .. ':') %>, ->
<% for i, case in ipairs(data.cases) do -%>
  <%= test_cmd(i == 1) %> <%- h.quote(case.description) %>, ->
    result = <%= slug.pascal %>.<%= case.property %> <%- h.quote(case.input.name) %>, <%= case.input.number %>
    expected = <%- h.quote(case.expected) %>
    assert.are.equal expected, result

<% end -%>
