<%= slug.pascal %> = require <%- h.quote(slug.snake) %>

-- ----------------------------------------------------------
-- assert that two lists have the same elements, regardless of order
same_elements = (state, arguments) ->
{ list1, list2 } = arguments
  return false if #list1 != #list2
  for elem in *list1
    found = false
    for elem2 in *list2
    if elem == elem2
      found = true
      break
    return false if not found
  true

say = require 'say'
say\set 'assertion.same_elements.positive', 'Expected %s to be in the range [%s, %s]'
say\set 'assertion.same_elements.negative', 'Expected %s not to be in the range [%s, %s]'
assert\register 'assertion', 'same_elements', same_elements, 'assertion.same_elements.positive', 'assertion.same_elements.negative'
-- ----------------------------------------------------------

describe <%- h.quote(slug.kebab .. ':') %>, ->
<% for i, case in ipairs(data.cases) do -%>
  <%= test_cmd(i == 1) %> <%- h.quote(case.description) %>, ->
    hands = <%- h.string_list(case.input.hands, 2, {inline=1}) %>
    expected = <%- h.string_list(case.expected, 2, {inline=1}) %>
    <%= #case.expected == 1 and "assert.are.same" or "assert.has.same_elements" %> expected, <%= slug.pascal %>.<%= case.property %> hands

<% end -%>
