<%= slug.pascal %> = require <%- h.quote(slug.snake) %>

describe <%- h.quote(slug.kebab .. ':') %>, ->
<% for i, case in ipairs(data.cases) do -%>
  <%= test_cmd(i == 1) %> <%- h.quote(case.description) %>, ->
    result = <%= slug.pascal %>.sqrt <%= case.input.radicand %>
    assert.are.equal <%= case.expected %>, result

<% end -%>
