import abbreviate from require <%- h.quote(slug.snake) %>

describe <%- h.quote(slug.kebab .. ':') %>, ->
<% for i, case in ipairs(data.cases) do -%>
  <%= test_cmd(i == 1) %> <%- h.quote(case.description) %>, ->
    result = abbreviate <%- h.quote(case.input.phrase) %>
    assert.are.equal <%- h.quote(case.expected) %>, result

<% end -%>
