<%= slug.pascal %> = require <%- h.quote(slug.snake) %>

describe <%- h.quote(slug.kebab .. ':') %>, ->
<% for i, case in ipairs(data.cases) do -%>
  <%= test_cmd(i == 1) %> <%- h.quote(case.description) %>, ->
    result = <%= slug.pascal %>.<%= case.property %> <%= case.input.startVerse %>, <%= case.input.endVerse %>
    expected = <%- h.string_list(case.expected, 2, {inline = 1}) %>
    assert.are.equal table.concat(expected, '\n'), result

<% end -%>
