import factors from require <%- h.quote(slug.snake) %>

describe <%- h.quote(slug.kebab .. ':') %>, ->
<% for i, case in ipairs(data.cases) do -%>
  <%= test_cmd(i == 1) %> <%- h.quote(case.description) %>, ->
    result = factors <%= case.input.value %>
    expected = <%= h.int_list(case.expected) %>
    assert.are.same expected, result

<% end -%>
