Say = require <%- h.quote(slug.snake) %>

describe <%- h.quote(slug.kebab .. ':') %>, ->
<% for i, case in ipairs(data.cases) do -%>
  <%= test_cmd(i == 1) %> <%- h.quote(case.description) %>, ->
<%   if type(case.expected) == 'string' then -%>
    result = Say.in_english <%= case.input.number %>
    expected = <%- h.quote(case.expected) %>
    assert.are.equal expected, result
<%   else -%>
    f = -> Say.in_english <%= case.input.number %>
    assert.has.error f, <%- h.quote(case.expected.error) %>
<%   end -%>

<% end -%>
