<%= slug.pascal %> = require <%- h.quote(slug.snake) %>

describe <%- h.quote(slug.kebab .. ':') %>, ->
<% for i, case in ipairs(data.cases) do -%>
  <%= test_cmd(i == 1) %> <%- h.quote(case.description) %>, ->
<%   if type(case.expected) == 'number' then -%>
    result = <%= slug.pascal %>.<%= case.property %> <%= case.input.number %>
    assert.are.equal <%= case.expected %>, result
<%   else -%>
    f = -> <%= slug.pascal %>.<%= case.property %> <%= case.input.number %>
    assert.has.errors f, <%- h.quote(case.expected.error) %>
<%   end -%>

<% end -%>
