-- pick one of
<%= slug.pascal %> = require <%- h.quote(slug.snake) %>
-- or
import func1, func2, ... from require <%- h.quote(slug.snake) %>

OPTIONALLY: a preface block of code

describe <%- h.quote(slug.kebab .. ':') %>, ->
<% for i, case in ipairs(data.cases) do -%>
  <%= test_cmd(i == 1) %> <%- h.quote(case.description) %>, ->
<%   if not case.expected.error then -%>
    result = <%= slug.pascal %>.<%= case.property %> <%= case.input %>
    expected = <%= case.expected %>
    assert.are.same expected, result
<%   else -%>
    f = -> <%= slug.pascal %>.<%= case.property %> <%= case.input %>
    assert.has.errors f, <%- h.quote(case.expected.error) %>
<%   end -%>

<% end -%>

OPTIONALLY: bonus tests: do not change the next line (the test runner relies on it)
  -- The next tests are optional.
  -- Set the environment variable BONUS_TESTS to run them:
  -- For example, in bash run:  BONUS_TESTS=true busted

  pending 'some custom test', ->
    ...
