<%= slug.pascal %> = require <%- h.quote(slug.snake) %>

describe <%- h.quote(slug.kebab .. ':') %>, ->
<% for i, case in ipairs(data.cases) do -%>
  <%= test_cmd(i == 1) %> <%- h.quote(case.description) %>, ->
    board = <%- h.string_list(case.input.board, 2) %>
    assert.are.equal <%- h.quote(case.expected) %>, <%= slug.pascal %>.<%= case.property %> board

<% end -%>
