Isbn10 = require <%- h.quote(slug.snake) %>

describe <%- h.quote(slug.kebab .. ':') %>, ->
<% for i, case in ipairs(data.cases) do -%>
  <%= test_cmd(i == 1) %> <%- h.quote(case.description) %>, ->
    assert.is_<%= tostring(case.expected) %> Isbn10.is_valid <%- h.quote(case.input.isbn) %>

<% end -%>
