<%= slug.pascal %> = require <%- h.quote(slug.snake) %>

describe <%- h.quote(slug.kebab .. ':') %>, ->
<% for i, group in ipairs(data.cases) do -%>
  describe <%- h.quote(group.description .. ':') %>, ->
<%   for j, case in ipairs(group.cases) do -%>
    <%= test_cmd(i == 1 and j == 1) %> <%- h.quote(case.description) %>, ->
      result = <%= slug.pascal %>.<%= case.property %> <%= case.input.rails %>, <%- h.quote(case.input.msg) %>
      expected = <%- h.quote(case.expected) %>
      assert.are.equal expected, result

<%   end -%>
<% end -%>
